In [ ]:
print("Hello Asad", 1, 'ILU', sep="$ ")

In [ ]:
print("""hello my name is 'Khan' 
what is your name """)

In [ ]:
print("""hello my name is \"Khan\" 
what is your name """)

python variables

In [ ]:
my_name1="MOHD"   #firstname
my_name2 = "Asad" #lastname
print(my_name1 + my_name2)

In [ ]:
x=10
y=7
print(x+y,my_name1, sep="& ")

In [ ]:
''' we can assign multiple variables in one line
don't try to make multiple line of code for assignment '''
x,y,z =10,20,5
print(x,y,z)

In [ ]:
x=y=z= 10 #we can assign same value to multiple variable for safe space
print(x,y,z)

In [ ]:
total_sum=10+20+7+3+30
print(total_sum)

In [ ]:
# this is for total_sum you have to make \
total_sum=10+20+7\
            +3+30
print(total_sum)

In [ ]:
total_sum = (10+20+7+3+30)
print(total_sum)

Explicit type Casting

In [ ]:
a = 10
b = "10"
b_new = int(10)
print(a+b_new)

Implicite type casting

In [ ]:
a = 10
b= 10.5
print(a+b)

In [ ]:
name="Muhammad Asad"
print(name[0:8])

In [ ]:
name="Muhammad Asad"
print(name[0:])

In [ ]:
name="Muhammad Asad"
print(name[8:len(name)])

python string methods

In [ ]:
name="Muhammad Asad"
print(name.capitalize())

In [ ]:
name="Muhammad Asad"
print(name.title())

In [ ]:
name="Muhammad Asad"
print(name.replace('Muhammad', 'Mohd'))

In [ ]:
name="Muhammad Asad Mohd Ali"
print(name.split(" "))

we do checkmarks in real scenario we don't need to read whole data

In [ ]:
file=("raw_data.csv")
if file.endswith('.csv'):
    print("csv file")

In [ ]:
statement="Hello Asad. What are you doing.\
            Hey Asad, I am talking to you "
print(statement.count('Asad'))

In [ ]:
demo_str = "Hello"

demo_var = "10"

print(demo_str.isnumeric())
print(demo_var.isnumeric()) #hey! please note that point .isnumeric work with "10" it does'nt work with int wala 10

In [ ]:

demo_var = "10abc"

print(demo_var.isal()) #hey! please note that point .isnumeric work with "10" it does'nt work with int wala 10

In [ ]:
x=11

if(x == 10):
    print("x is 10")
elif(x > 100):
    print("x is too high")
else:
    print("x is not 10")

In [ ]:
x=201
if (x == 10):
    print("x is 10")
elif(x>100):
    if((x>100) & (x<200)):
        print("between 100 and 200")
    else:
        print("x greater than a 200")
else:
    print("x is not 10")

In [ ]:
my_list=['orders', 'customers', 'products']
print(my_list[0])
print(my_list[1])
print(my_list[2])

but Data engineer use loop 80% for solve like this problem

In [ ]:
table_list=['orders', 'customers', 'products']
for i in table_list:
    print(i)

In [ ]:
table_list=['orders', 'customers', 'products']
for i in table_list:
    print(i)
    for x in i:
        print(x)

In [ ]:
table_list=['orders', 'customers', 'products']
for i in table_list:
    if(i.lower() == "orders"):
        print("orders table")
    else:
        print("no table order")

if i have thousends of data if i want to grab/check perticular data then we need break 
we will visit each item table on iteration as table got we will use break

In [ ]:
table_list=["price",'orders', 'customers', 'products']
for i in table_list:
    if(i.lower() == "orders"):
        print(i)
        break      # it doesn't break line it will break whole code
        print(i)

continue will skip the orders it will not stop it just do skip

In [ ]:
table_list=["price",'orders', 'customers', 'products']
for i in table_list:
    if(i.lower() == "orders"):
        continue      
    print(i)

List

In [ ]:
my_list = [1,2,"Mohd", "Asad",[1,2,3]]  #01234 -5 -4 -3 -2 -1
print(my_list[-3:])
print(my_list[len(my_list)-3 : len(my_list)]) # 2: till end

In [ ]:
my_list = [1,2,"Mohd", "Asad",[1,2,3],4,5,6,7]
print(my_list[::2])

In [ ]:
my_list = [1,2,"Mohd", "Asad",[1,2,3],4,5,6,7]
my_list.append("Hero")
print(my_list)

In [ ]:
# if i want to append any specific location or index
my_list.insert(1,"Hero")
print(my_list)

In [ ]:
# if i want remove "Hero6"
my_list.pop()
print(my_list)

In [ ]:
# when you want to reverse list permanently u can use reverse()

my_list.reverse()
print(my_list)

In [ ]:
# when you want to reverse list temperory for operation u can use loop
for i in my_list:
    print(i)

In [ ]:
my_list = [1,2,3,4,5,6,7]
print(my_list[::-1])

In [ ]:
my_list = [1,2,3,4,5,6,7]

new_list = []
for i in my_list:
    new_list.append(i*i)
print(new_list)

List Comprehenshion

In [ ]:
my_list = [1,2,3,4,5,6,7]

new_list = [i*i for i in my_list if(i%2) == 0 if(i!=6)]
print(new_list)

Dictionary Data structure

In [ ]:
my_dict={"x":1, "y":2, "z":3}

my_dict["x"]=10
print(my_dict)

In [ ]:
my_dict.pop("z")

In [ ]:
print(my_dict.keys())

In [ ]:
print(my_dict.values())

In [ ]:
print(my_dict.items())

In [ ]:
my_dict={"x":1, "y":2, "z":3 ,"demo":{"a":1, "b":2, "c":3}}
print(my_dict["demo"]["b"])

set data structure

In [ ]:
s1={1,2,3,4,5,6,7,7,7,7}
s2={88,9,0,1,2,3,4,5,6,7}

print(type(s1))
print(s1.union(s2))
print(s1.intersection(s2))
s1.remove(6)
print(s1)
s2.add(6)
print(s2)

In [ ]:
my_tuple=(1,2,3,4,5,6,7)

my_tuplist=list(my_tuple)
my_tuplist.append(19)
print(my_tuplist, type(my_tuplist), type(my_tuple))
my_tuple = tuple(my_tuplist)
print(my_tuple)

Functions

In [2]:
def my_func(px):
    if(px>10):
        return px
    else:
        return "px is lower"
my_func(10)

'px is lower'

In [4]:
def my_func(px,py):
    if(px>py):
        return px
    else:
        return py
my_func(10,11)

11

In [5]:
def my_func(px,py=30):
    if(px>py):
        return px+py
    else:
        return px-py
my_func(10,11)

-1

In [17]:
def my_func(*px):
    print(type(my_func),type(px))
    return px

    
my_func(10,11,12,13)

<class 'function'> <class 'tuple'>

(10, 11, 12, 13)

In [19]:
def my_func(**px):
    print(type(my_func),type(px))
    print(px.keys())
    return px

    
my_func(x=10,y=11,z=12,aa=13)

<class 'function'> <class 'dict'>
dict_keys(['x', 'y', 'z', 'aa'])

{'x': 10, 'y': 11, 'z': 12, 'aa': 13}

In [20]:
# one way doing this addition 
def add(x,y):
    return x+y
var = add(10,20)
print(var)

30

In [22]:
#another way using lambda function if you don't want code reusability

add = lambda x,y:x+y
var = add(10,11)
print(var)
print(add(10,11))

21
21

Map filter Reduce

In [23]:
# we create a fuction just accept the list we will see function not only for accept the list we will access element of list

def square(x):
    ret_list=[i*i for i in x]
    print ret_list
my_list=[1,2,3,4,5,6,7]    
square(my_list)

[1, 4, 9, 16, 25, 36, 49]

In [5]:
#here we can pass individual number and list also 
# mostly we use filter 
my_list=[1,2,3,4,5]

def square(x):
    if(x%2 == 0):
        return x*x
result = list(map(square, my_list))
print(result)

[None, 4, None, 16, None]

In [6]:
#here we can pass individual number and list also
my_list=[1,2,3,4,5]

def square(x):
    if(x%2 == 0):
        return x*x
result = list(filter(square, my_list))
print(result)

[2, 4]

In [9]:
from functools import reduce

my_list=[1,2,3,4,5]

def add(x,y):
    return x+y
result = reduce(add, my_list)   
print(result)

15

Exceptional Handling

In [1]:
x="10"
try:
    if(x>10):
        print(x)
    else:
        print("Bla Bla")
except Exception as e:
    print(e)

print("my next line of code continue without interruption")

'>' not supported between instances of 'str' and 'int'
my next line of code continue without interruption

In [3]:
# formatting string
first_name="Mohd"
last_name="Asad"

my_string=f"Hello! my firstname is {first_name}, and lastname {last_name}"

print(my_string)

Hello! my firstname is Mohd, and lastname Asad

In [4]:
x="10"
try:
    if(x>10):
        print(x)
    else:
        print("Bla Bla")
except Exception as e:
    print(f"hey! you got this error- {e}")

print("my next line of code continue without interruption")

hey! you got this error- '>' not supported between instances of 'str' and 'int'
my next line of code continue without interruption

please focus on two thing when pyhton sees return keyword means job done goto backtrack  finally cmd always run

In [12]:
def my_func(x):
    try:
        if(x%2 == 0):
            return 1
    except Exception as e:      
            return e
    finally:
        print("just for check hey! i am finally i am always run")
        
my_func(1)

just for check hey! i am finally i am always run

In [15]:
x=10
#this one is global
def to_check_priority_of_variable():
    x=5 # this is local it takes priorirty
    print(x)

to_check_priority_of_variable()

5

In [ ]:
we can raise error like TypeError ValueError Exception

In [19]:
x = "hello"

if not type(x) is int:
    raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [20]:
x=0

if(x<1):
    raise ValueError("Value < 1 is not allowed")

ValueError: Value < 1 is not allowed

enumerate is very importent

In [21]:
my_list=[100, 200, 300, 400, 500, 600, 700]

for i in my_list:
    print(i)

100
200
300
400
500
600
700

In [22]:
my_list=[100, 200, 300, 400, 500, 600, 700]

for i in enumerate(my_list):
    print(i)

(0, 100)
(1, 200)
(2, 300)
(3, 400)
(4, 500)
(5, 600)
(6, 700)

In [23]:
my_list=[100, 200, 300, 400, 500, 600, 700]

for i,x in enumerate(my_list):
    print(i)

0
1
2
3
4
5
6

In [24]:
my_list=[100, 200, 300, 400, 500, 600, 700]

for i,x in enumerate(my_list):
    print(x)

100
200
300
400
500
600
700