In [1]:
n1=7
n2=3
sum=n1+n2
print(sum)

10

In [5]:
try:
    n1 = float(input("Enter n1: "))
    n2 = float(input("Enter n2: "))
    sum_result = n1 + n2
    print("Sum:", sum_result)
except ValueError:
    print("Invalid input! Please enter valid numbers.")

Invalid input! Please enter valid numbers.

In [6]:
print("hello world")

hello world

In [7]:
n1 = float(input("Enter n1: "))
sr=n1**(0.5)
print(sr)

2.0

In [ ]:
import math 
n1 = float(input("Enter n1: "))
sr=math.sqrt(n1)

In [1]:

height=float(input("height"))
weight =float(input("weight"))
area=height*weight*(0.5)
print('area is', area)

ValueError: could not convert string to float: ''

In [ ]:
x=4
y=3

z=x
x=y
y=z
print(x,y)

In [ ]:
# without temp variable 
x=4
y=3

x,y=y,x
print(x,y)

km=float(input("enter km: "))
into_miles=km*(0.621371)
print(km,"kilometer into miles will be", into_miles, "miles")

In [ ]:
number=float(input("enter number "))
if number >0:
    print("number is positive: ",number)
elif number <0:
     print("number is negative: ",number)
else:
    print("number is zero")

In [1]:
n1=float(input("enter number: "))
if n1%2==0:
    print("number is even: ",n1)
else:
    print("odd", n1)

ValueError: could not convert string to float: ''

In [ ]:
year=float(input("enter year: "))
if (year%400==0) and (year%100 ==0):
    print(year,"is a leap year: ")
elif (year%4==0) and (year%100 !=0):
    print(year,"is a leap year: ")
else:
    print(year,"it is not a leap year")

In [ ]:
num=int(input("enter number: "))

if (num==1):
    print("it is not a prime number",num)
if (num>1):
    for i in range(2,num):
        if num%i==0:
            print("it is not a prime Number",num)
            break
    else:
        print("it is prime number",num)

In [ ]:
import random
n=random.randint(1,9)
print(n)

In [ ]:
celcius=int(input("enter tempreture in celcicus: "))

farenhite=(celcius*1.8)+32
print("celcicus to farenhite" ,farenhite,"F")

In [ ]:
# using range 
num=int(input("enter number: "))
factorial= 1
if num==0:
    print("factorial is ",1)
if num<0:
    print("factorial of 0 or negative number  does'nt exist")
if num>0:
    for i in range(1,num+1):
        factorial=factorial*i
    print(factorial,"is a factorial")

In [ ]:
# using recurrsion
def fact(n):
    if n==0:
        return 1 
    else:
        return (n*fact(n-1))
        
        
num=int(input("enter number to find factorial:"))
factorial_is=fact(num)
print("factorial of a number is :",factorial_is)

In [ ]:
n=int(input("enter number: "))

for  i in range(1,11):
    print(n ,"*",i,"=",n*i)

In [ ]:
# fibbonaci number
number=int(input("enter number"))
a=0
b=1 

if number==1:
    print(a)
else:
    print(a)
    print(b)
for i in range(2,number):
    c=a+b
    a=b
    b=c
    print(c)

In [ ]:
# armstrong number
n=int(input("enter number"))
order =len(str(n))
sum=0
temp=n 
while temp>0:
    digit=temp%10
    cube=digit**order
    sum+=cube
    temp//=10
if sum == n:
    print("number is armstrong ",sum)
else:
      print("number is not armstrong ",sum)

In [ ]:
# sum of n natural numbers
n=int(input("enter number:"))
if n<0:
    print("please enter positive number")
else:
    sum=0
    while(n>0):
        sum+=n
        n-= 1 
    print(sum)

In [ ]:
nterms=int(input("enter number:"))


result=list(map(lambda x:2**x,range(nterms+1)))
# print(result)
for i in range(nterms+1):
    print("the value of 2 raised to power",i,"is",result[i])

In [ ]:
# if number divisible by any other number using loop

lower=int(input("enter lower limit"))
upper=int(input("enter upper limit"))
num=int(input("enter number"))

print()
for i in range(lower,upper+1):
   if i%num==0:
       print(i)

In [ ]:
# using lambda function
num=int(input("enter number"))
list_1=[1,23,12,13,44,26]
result=list(filter(lambda x:x%num==0 ,list_1))
print("the num divisible by are",result)

In [ ]:

decimal=int(input("enter a number"))
print("the coversion decimal number ", decimal,"is :")

print(bin(decimal),"in binary")
print(oct(decimal),"in octal")
print(hex(decimal),"in hexadecimal")

In [ ]:

char="%"
print("the ASCII VALUE OF",char,"is",ord(char))

In [ ]:
def find_hcf(x,y):
    smaller=0
    
    if x>y:
        smaller=y 
    else:
        smaller=x
        
    for i in range(1,smaller+1):
        if ((x%i==0)and (y%i==0)):
            hcf=i
    return hcf

print("the hcf of two given number is: ",find_hcf(12,30))

In [ ]:
# factor of a number
num=int(input("enter number: "))
for i in range(1,num+1):
    if num%i==0:
        print(i)

In [ ]:
# mini calulator
num1=float(input("enter first number: "))
num2=float(input("enter 2nd number: "))

print("press 1 for addition \n press 2 for subtraction \n press 3 for multiplication \n press 4 for division")

choice=int(input("enter your choice from 1-4:"))

if choice==1:
    print(num1+num2)
elif choice == 2:
    print(num1-num2)
elif choice == 3:
    print(num1*num2)
elif choice == 4:
    if num2!=0:
        print(num1/num2)
else:
    print("please enter right choice")

In [ ]:
import random,itertools

deck=list(itertools.product(range(1,14),["spade","club","heart","diamond"]))
# print(deck)
random.shuffle(deck)
# print(deck)

for i in range(5):
    print(deck[i],[0],"of",deck[i],[1])

In [ ]:
import calendar

year=int(input("enter year"))
month=int(input("enter month: "))

calender=calendar.month(year,month)
print(calender)

In [ ]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
# Get the number of terms from user
terms = int(input("Enter the number of terms: "))
print("Fibonacci sequence:")
for i in range(terms):
    print(fibonacci(i), end=' ')

In [ ]:
# fibboncci using recursion 
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
# Get the number of terms from user
terms = int(input("Enter the number of terms: "))
print("Fibonacci sequence:")
for i in range(terms):
    print(fibonacci(i), end=' ')

In [ ]:
def recursive_sum(n):
    if n<=0:
        return 0
    else:
        return n + recursive_sum(n-1)
        
num=int(input("enter a positive integer: "))

if num<0:
    print("please enter positive integer: ")
else:
    print(f"The sum of natural numbers up to {num} is:{recursive_sum(num)}")

In [ ]:
def recursive_fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n * recursive_fact(n-1)
        
num=int(input("enter a positive integer: "))

if num<0:
    print("please enter positive integer: ")
else:
    print(f"The sum of natural numbers up to {num} is:{recursive_fact(num)}")

In [ ]:
# Define two matrices
matrix1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix2 = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]
# Initialize result matrix with zeros
result = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]

for i in range(len(matrix1)):
    for j in range(len(matrix2)):
        result[i][j]=matrix1[i][j]+matrix2[i][j]
print("Resultant Matrix after Addition:")
print(result)

for row in result:
    print(row)

In [ ]:
# transpose of a metrix
# Define two matrices
row_matrix= [
    [1, 2, 3],
    [4, 5, 6]
]


# Initialize result matrix with zeros
col_matrix = [
    [0, 0],
    [0, 0],
    [0,0]
]

for i in range(len(row_matrix)):
    for j in range(len(row_matrix[0])):
        col_matrix[j][i]=row_matrix[i][j]
print("Resultant Matrix after Addition:")
print(col_matrix)

for row in col_matrix:
    print(row)

In [ ]:
word =input("enter word here: ")

reverse=word[::-1]

if word==reverse:
    print("plindrom")
else:
    print("not palindrom")

In [ ]:
punc='''!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~'''

string=input("enter string: ")
empty_string=""
for i in string:
    if i not in punc:
        empty_string+=i 
print(empty_string)

In [ ]:
a="Harry potter and globlet of fire"

word=a.split()
print(word)

for i in range(len(word)):
    word[i]=word[i].lower()
print(word)
word.sort()
print(word)

In [ ]:
a={1,2,4,5,6,7}
b={3,4,5,8,9,0}

print("The union is: ",a|b)
print("The intersection is: ",a&b)
print("The difference is: ",a-b)
print("The symmetric difference is: ",a^b)

In [ ]:
a=input("Harry Potter and prisnors of the Azkaban")
vowels="aeiou"
a=a.lower()
print(a)

count={}.fromkeys(vowels,0)
for char in a:
    if char in count:
        count[char]+=1 
print(count)

In [ ]:
dict1={"mohd":99,"asad":27}
dict2={"asad":97,"abubakr":99}
print(dict1 | dict2)
print({**dict1,**dict2})

In [ ]:
# solution 1 using enumerate method 
lst=[1,2,3,4,5,6,7,7,8,9,0]
for index,value in enumerate(lst):
    print(index,value)

In [ ]:
# solution 2 not using enumerate method 
lst=[1,2,3,4,5,6,7,7,8,9,0]
for index in range(len(lst)):
    value=lst[index]
    print(index,value)

In [ ]:
friends={"Mohd":"Sabir","Talib":"Saeed","Abubakr":"Abuummamah","Mohammad":"Asad"}
# print("all friends key value: ",friends)
# print(friends["Mohd"])
# soln 1 with .items
# for key,value in friends.items():
#     print(key,"-",value)
# soln 2 with keys
# for key in friends:
#     print(key,":",friends[key])

# soln 3 with keys and value
for key in friends.keys():
    print(key)
    
for val in friends.values():
    print(val)

In [ ]:
# soln 1 
marks={"jhon":23,"lisa":56,"sid":48}
print(marks)

# sort the dictionaries based on values using list of tuples
sorted_lst=sorted(marks.items(),key=lambda x:x[1])
print(sorted_lst)

# soln 2 mey list of values per sort karenge
val_sorted=sorted(marks.values())
print(val_sorted)

In [ ]:
# soln 1 using boolean operation
my_lst=[]

# if not my_lst:
#     print("the list is empty")
    
# soln 2 using lenth function
# my_lst=[]
# my_lst=[1,3,4,5,7]
# print(len(lst))
if len(my_lst)==0:
    print("lst is empty")
    
# soln 3 using []
my_lst=[]
if my_lst==[]:
    print("this list is empty")

In [ ]:
string=input("enter something here: ")
num=int(input("enter a number here: "))
try:
    print(string+num)
except (ValueError,TypeError) as a:
    print(a)
    
print("thank you")

In [ ]:
# soln 1 using + operator
lst1=[1,2,3,4,5,'hi','by']
lst2=[9,2,11,"yeyeye",'ola']

lst=lst1+lst2
print(lst)

# soln 2 using sets 
lst_using_set=list(set(lst1+lst2))
print(lst_using_set)

# soln 2 using .extend function

lst1.extend(lst2)
print(lst1)

In [ ]:
friends={"Mohd":"Sabir","Talib":"Saeed","Abubakr":"Abuummamah","Mohammad":"Asad"}

input_key=input("enter key here: ")

if input_key in friends.keys():
    print("present",input_key)

In [ ]:
#  parse string into integer

string='12345'
print(type(string))
print("it is string",string)
int_string=int(string)
print(type(int_string))
print(int_string)
float_string=float(int_string)
print(type(float_string))
print(float_string)

In [ ]:
# from datetime import datetime

# date="jan 20  1997 3:15 AM"
# print(type(date))

# date_time=datetime.strptime(date,'%b %d %Y %I:%M %p')
# print(date_time)
# print(type(date_time))

# soln 2 using dateutil module
from dateutil import parser
date_time=parser.parse("jan 20  1997 3:15 AM")
print(date_time)
print(type(date_time))