🧩 Reading and Writing CSV, JSON, Excel, and API Data in Python
🔹 PART 1: Working with CSV Files
✅ Reading a CSV
Using the built-in csv module:

In [2]:
import csv

with open('data.csv',mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City', 'Salary']
['David', '34', 'San Diego', '79076']
['Charlie', '35', 'Phoenix', '76699']
['Quinn', '38', 'New York', '93478']
['Eve', '32', 'Phoenix', '92233']
['Paul', '27', 'Houston', '96396']
['Hannah', '58', 'New York', '59351']
['Nate', '29', 'San Antonio', '60027']
['Grace', '47', 'San Diego', '83846']
['Nate', '59', 'Houston', '84534']
['Quinn', '59', 'San Antonio', '83279']
['Grace', '39', 'San Antonio', '79001']
['Ian', '43', 'San Antonio', '65220']
['Bob', '44', 'San Diego', '48379']
['Hannah', '56', 'New York', '84126']
['Paul', '35', 'Houston', '91438']
['Liam', '32', 'Chicago', '118931']
['Hannah', '36', 'Los Angeles', '80513']
['Nate', '29', 'San Antonio', '89020']
['Olivia', '49', 'San Antonio', '87224']
['Steve', '38', 'New York', '94769']

In [26]:
import csv

with open('data.csv', 'r') as file:
    reader = csv.reader(file)
    # To skip the header row
    next(reader)
    for row in reader:
        print(row)

['David', '34', 'San Diego', '79076']
['Charlie', '35', 'Phoenix', '76699']
['Quinn', '38', 'New York', '93478']
['Eve', '32', 'Phoenix', '92233']
['Paul', '27', 'Houston', '96396']
['Hannah', '58', 'New York', '59351']
['Nate', '29', 'San Antonio', '60027']
['Grace', '47', 'San Diego', '83846']
['Nate', '59', 'Houston', '84534']
['Quinn', '59', 'San Antonio', '83279']
['Grace', '39', 'San Antonio', '79001']
['Ian', '43', 'San Antonio', '65220']
['Bob', '44', 'San Diego', '48379']
['Hannah', '56', 'New York', '84126']
['Paul', '35', 'Houston', '91438']
['Liam', '32', 'Chicago', '118931']
['Hannah', '36', 'Los Angeles', '80513']
['Nate', '29', 'San Antonio', '89020']
['Olivia', '49', 'San Antonio', '87224']
['Steve', '38', 'New York', '94769']

| Parameter    | Purpose                                                 |
| ------------ | ------------------------------------------------------- |
| `newline=''` | Prevents Python from adding extra newlines in CSV files |

In [14]:
data = [
    ['Name','Age','City','Salary'],
    ['Alice',30,'New York',70000],
    ['Bob',25,'Los Angeles',55000],
    ['Charlie',35,'Chicago',80000],
    ['David',28,'Houston',62000],
    ['Eve',40,'Phoenix',92000]

]

with open('new_data.csv', 'w', newline='' ) as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [18]:
with open('new_data.csv','r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City', 'Salary']
['Alice', '30', 'New York', '70000']
['Bob', '25', 'Los Angeles', '55000']
['Charlie', '35', 'Chicago', '80000']
['David', '28', 'Houston', '62000']
['Eve', '40', 'Phoenix', '92000']

🚀 Using pandas (Much Easier & Powerful)

In [23]:
# ****instead of csv use pandas
import pandas as pd 

df = pd.read_csv('file_write_using_pandas.csv')
print(df.head())

      Name  Age       City  Salary
0    David   34  San Diego   79076
1  Charlie   35    Phoenix   76699
2    Quinn   38   New York   93478
3      Eve   32    Phoenix   92233
4     Paul   27    Houston   96396

In [27]:
# write data in pandas

df.to_csv('file_write_using_pandas.csv', index=False)

🔸 PART 2: Working with JSON Files
✅ Reading JSON

In [4]:
import json

with open('data.json','r') as file:
    data = json.load(file)
    print(data)

[{'Name': 'Hannah', 'Age': 35, 'City': 'Houston', 'Salary': 95685}, {'Name': 'Grace', 'Age': 52, 'City': 'Chicago', 'Salary': 52039}, {'Name': 'Jack', 'Age': 43, 'City': 'San Jose', 'Salary': 112685}, {'Name': 'David', 'Age': 28, 'City': 'Houston', 'Salary': 51378}, {'Name': 'Paul', 'Age': 30, 'City': 'New York', 'Salary': 62854}, {'Name': 'David', 'Age': 55, 'City': 'San Jose', 'Salary': 101996}, {'Name': 'Tina', 'Age': 23, 'City': 'San Diego', 'Salary': 97585}, {'Name': 'Frank', 'Age': 59, 'City': 'Chicago', 'Salary': 49785}, {'Name': 'Bob', 'Age': 33, 'City': 'Houston', 'Salary': 97573}, {'Name': 'Liam', 'Age': 23, 'City': 'Chicago', 'Salary': 43680}, {'Name': 'Rachel', 'Age': 28, 'City': 'Los Angeles', 'Salary': 108084}, {'Name': 'Bob', 'Age': 22, 'City': 'New York', 'Salary': 51571}, {'Name': 'Alice', 'Age': 29, 'City': 'Houston', 'Salary': 119203}, {'Name': 'Grace', 'Age': 24, 'City': 'Philadelphia', 'Salary': 82625}, {'Name': 'Olivia', 'Age': 60, 'City': 'Houston', 'Salary': 95135}, {'Name': 'Liam', 'Age': 43, 'City': 'Chicago', 'Salary': 56255}, {'Name': 'Olivia', 'Age': 57, 'City': 'San Antonio', 'Salary': 66034}, {'Name': 'Charlie', 'Age': 34, 'City': 'San Jose', 'Salary': 97803}, {'Name': 'Charlie', 'Age': 50, 'City': 'Dallas', 'Salary': 49788}, {'Name': 'Ian', 'Age': 28, 'City': 'New York', 'Salary': 49168}]

In [5]:
data = [
  {
    "Name": "Alice",
    "Age": "30",
    "City": "New York",
    "Salary": "70000"
  },
  {
    "Name": "Bob",
    "Age": "25",
    "City": "Los Angeles",
    "Salary": "55000"
  },
  {
    "Name": "Charlie",
    "Age": "35",
    "City": "Chicago",
    "Salary": "80000"
  },
  {
    "Name": "David",
    "Age": "28",
    "City": "Houston",
    "Salary": "62000"
  },
  {
    "Name": "Eve",
    "Age": "40",
    "City": "Phoenix",
    "Salary": "92000"
  }
]

with open('new_data.json', 'w') as file:
    json.dump(data, file, indent=4)

🚀 With pandas (for tabular JSON):

✅ orient='records'
This controls how the data is structured in JSON.

'records' means:

Each row in the DataFrame becomes a separate JSON object (i.e., a dictionary).

The file will be a list of dictionaries (a list of records).

In [15]:
df = pd.read_json('data.json')
df.to_json('output.json', orient='records', indent=2)
print(df.head())

     Name  Age      City  Salary
0  Hannah   35   Houston   95685
1   Grace   52   Chicago   52039
2    Jack   43  San Jose  112685
3   David   28   Houston   51378
4    Paul   30  New York   62854

In [32]:
# ************************************
import pandas as pd

# Read tabular JSON into DataFrame
df = pd.read_json("data.json")

# View the data
print(df.head() )

     Name  Age      City  Salary
0  Hannah   35   Houston   95685
1   Grace   52   Chicago   52039
2    Jack   43  San Jose  112685
3   David   28   Houston   51378
4    Paul   30  New York   62854

In [13]:
import json

with open('output.json','r') as file:
    data = json.load(file)
    print(data)

[{'Name': 'Hannah', 'Age': 35, 'City': 'Houston', 'Salary': 95685}, {'Name': 'Grace', 'Age': 52, 'City': 'Chicago', 'Salary': 52039}, {'Name': 'Jack', 'Age': 43, 'City': 'San Jose', 'Salary': 112685}, {'Name': 'David', 'Age': 28, 'City': 'Houston', 'Salary': 51378}, {'Name': 'Paul', 'Age': 30, 'City': 'New York', 'Salary': 62854}, {'Name': 'David', 'Age': 55, 'City': 'San Jose', 'Salary': 101996}, {'Name': 'Tina', 'Age': 23, 'City': 'San Diego', 'Salary': 97585}, {'Name': 'Frank', 'Age': 59, 'City': 'Chicago', 'Salary': 49785}, {'Name': 'Bob', 'Age': 33, 'City': 'Houston', 'Salary': 97573}, {'Name': 'Liam', 'Age': 23, 'City': 'Chicago', 'Salary': 43680}, {'Name': 'Rachel', 'Age': 28, 'City': 'Los Angeles', 'Salary': 108084}, {'Name': 'Bob', 'Age': 22, 'City': 'New York', 'Salary': 51571}, {'Name': 'Alice', 'Age': 29, 'City': 'Houston', 'Salary': 119203}, {'Name': 'Grace', 'Age': 24, 'City': 'Philadelphia', 'Salary': 82625}, {'Name': 'Olivia', 'Age': 60, 'City': 'Houston', 'Salary': 95135}, {'Name': 'Liam', 'Age': 43, 'City': 'Chicago', 'Salary': 56255}, {'Name': 'Olivia', 'Age': 57, 'City': 'San Antonio', 'Salary': 66034}, {'Name': 'Charlie', 'Age': 34, 'City': 'San Jose', 'Salary': 97803}, {'Name': 'Charlie', 'Age': 50, 'City': 'Dallas', 'Salary': 49788}, {'Name': 'Ian', 'Age': 28, 'City': 'New York', 'Salary': 49168}]

🔹 PART 3: Working with Excel Files
Use openpyxl or pandas:

✅ Install dependencies

In [16]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

🚀 What Can openpyxl Do?
📖 Read Excel .xlsx files

✍️ Write new Excel files

🖌️ Edit existing Excel files (change values, format cells, etc.)

🧮 Handle formulas, charts, styles, and more

🧱 Create multi-sheet workbooks

In [18]:
# ✅ Reading Excel

df = pd.read_excel('data.xlsx', engine='openpyxl')
print(df.head())

      Name  Age         City  Salary
0   Hannah   42  San Antonio  115882
1     Mona   43     San Jose   59291
2  Charlie   32      Phoenix  115292
3    David   57      Phoenix   86154
4  Charlie   40      Chicago   55862

✅ Writing Excel

In [20]:
df.to_excel('output.xlsx', index=False, engine='openpyxl')

In [21]:
df = pd.read_excel('output.xlsx', engine='openpyxl')
print(df.head())

      Name  Age         City  Salary
0   Hannah   42  San Antonio  115882
1     Mona   43     San Jose   59291
2  Charlie   32      Phoenix  115292
3    David   57      Phoenix   86154
4  Charlie   40      Chicago   55862

🔸 PART 4: Fetching Data from APIs
Use the requests module:

✅ Example: Fetching JSON Data from an API 


📌 APIs return data in JSON format → parse with .json()

In [25]:
# ✅ This bypasses SSL verification — only use this for learning, not in production or sensitive environments.
import requests
import urllib3

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

response = requests.get("https://api.quotable.io/random", verify=False)

if response.status_code == 200:
    data = response.json()
    print(f'"{data["content"]}" — {data["author"]}')
else:
    print("Error:", response.status_code)

"If you have a harem of 40 women, you never get to know any of them very well." — Warren Buffett